body {
	text-align: center;
	background-color: #FFF;
	margin: 0;
	padding: 0;
	font: 0.7em Arial, Helvetica, sans-serif;
	background-image: url(../images/bkg_body.gif);
	background-repeat: no-repeat;
	background-position: top center;
	color: #044484;
}
* {
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 950px;
}

/* header */

#header {
	position: absolute;
	top: 0;
	width: 950px;
/*	height: 172px;				*/
	height: 132px;
	border-bottom: 1px dotted #044484;
}
/*
#header p {
	font-size: 1.1em;
	padding: 0 0 0 0;
	line-height: 1.2em;
}	*/
#header ul {
	margin: 0;
/*	padding: 20px 0 0 0;			*/
	padding: 13px 0 0 0;
	list-style: none;
	list-style-image: none;
}
#header ul li {
	margin: 0;
	padding: 0;
	float: left;
}
#header ul li a {
	background-color: transparent;
}

/* main content holder */

#content {
	position: absolute;
	width: 950px;
/*	top: 178px;				*/
	top: 138px;
}

/* home boxes */

#homeBox1 {
	width: 462px;
	height: 407px;
	float: left;
	background-image: url(../images/homepage/rosencrantz.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	margin-bottom: 2px;
}
#homeBox1 p.buttons {
	padding: 346px 0 0 20px;
}
#homeBox1 p.buttons img {
	margin: 5px 0 0 0;
}
#homeBox1 a, #homeBox2 a {
	background-color: transparent;
}
#homeBox2 {
	width: 240px;
	height: 407px;
	float: left;
	background-image: url(../images/homepage/doncarlos.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	margin-bottom: 2px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}
#homeBox2 p {
	padding: 10px 8px 0 10px;
}
#homeBox2 h2 {
	padding: 10px 8px 0 10px;
}
#homeBox3 {
	width: 246px;
	height: 407px;
	float: left;
	background-color: #044484;
	margin-bottom: 2px;
}
#homeBox3 h2, #homeBox3 p {
	color: #FFF;
	padding: 10px 8px 0 10px;
}

/* sub page content */


#subLeft {
	float: left;
	width: 540px;
}
#subRight {

	float: right;
	width: 384px;
	margin-bottom: 10px;
}

#promowin {
	float: left;
	width: 384px;
	background-color: #044484;
	color: #FFFFFF;
	padding-left: 8px;
	padding-top: 8px;
	padding-right: 8px;
}
#subRight div.feature {
	padding: 0 0 3px 0;
}
#subRight div.info {
	background-color: #044484;
	padding: 10px 10px;
}
#subRight div.info h2, #subRight div.info p, #subRight div.info h3, div.info li {
	color: #FFF;
}
#subRight div.info a {
	background-color: transparent;
	color: #FFF;
}
#subRight div.info .baseLine {
	border-bottom: 1px dotted #FFF;
}
#subRight div.info .small {
	color: #c6d7e8;
}

ul.submenu {
	list-style: none;
	margin: 0 0 0 0;
}
ul.submenu li {
	padding: 8px 0 0 0;
}
ul.submenu li a {
	border-bottom: 1px dotted #FFF;
	text-decoration: none;
	padding: 4px 4px;
	font-weight: bold;
}
ul.submenu li a:hover {
	color: #dae3ff;
}

/* footer */

#footer {
	border-top: 3px solid #044484;
}
#footer ul {
	margin: 0;
	padding: 8px 0 0 0;
	list-style: none;
	list-style-image: none;	
}
#footer ul li {
	margin: 0;
	padding: 0;
	display: inline;
	font-weight: bold;
	color: #044484;
}
#footer ul li a {
	color: #044484;
	padding: 0 5px 0 7px;
	background-color: transparent;
}
#footer p {
	padding: 6px 0 10px 0;
	font-size: 0.9em;
}
#footer p a {
	color: #6286ab;
	text-decoration: none;
	background-color: transparent;
}
#footer p a:hover {
	text-decoration: underline;
}

/* common styles */

.clear {
	clear: both;
}
.small {
	font: 0.9em/1.2em Tahoma, Arial, sans-serif;
}
.tiny {
	font: 0.8em/1.2em Tahoma, Arial, sans-serif;
}
.baseLine {
	border-bottom: 1px dotted #044484;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.floatLeft {
	float: left;
	margin: 0 10px 0 0;
}
.floatRight {
	float: right;
	margin: 0 0 0 10px;
}

/* overall tags */

h1 {
	font-weight: bold;
	padding: 10px 0 5px 0;
}
h2 {
	font-size: 1.5em;
	padding: 0 0 15px 0;
}
h3 {
	padding: 0 0 15px 0;
}
p {
	padding: 0 0 15px 0;
	line-height: 1.4em;
}
a {
	color: #999999;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
ul, ol {
	margin: 0 0 0 40px;
	padding: 0 15px 15px 0;
}
ul li, ol li {
	padding: 0 0 3px 0;
}
