.home-page-banner {
    .show-details {
        background: $color-secondary;
        width: 100%;

        .show-title {
            text-align: center;
            width: 100%;
            color: $color-primary;
        }

        .show-byline {
            text-align: center;
            width: 100%;
            color: $color-quaternary;
        }        
    }

    .flyer-image {
        width: 100%;
    } 
}
