.navbar-primary {
    background-color: $blue;
}

.main-navigation {
    background-color: $blue;
}

.navbar-brand {
    .logo {
        height: 80px;
    }       

    .nav-link {
        color: $white;
    }

    padding-top: 0;
    padding-bottom: 0;
}
