.nav-tabs.show-nav-tabs {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;

    .nav-link {
        border: none;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        &.active {
            background: $sedos-blue;
            color: white;
        }
    }
}
