@Html.Partial("Partials/_HeaderCarousel", Documents["HeaderImages"].ToList())

<div class="upcoming-shows-container">
    <div class="banner">
        <div class="container">
            <h2>Upcoming shows</h2>
        </div>
    </div>

    <div class="upcoming-shows">
        <div class="container">
            <div class="row">        
                @{
                    var upcomignShows = Documents["UpcomingShows"]
                        .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").Any())
                        .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x=>x).Last() > DateTime.Now)
                        .OrderBy(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x => x).FirstOrDefault())    
                        .Take(3);
                    foreach(var document in upcomignShows) 
                    {
                        Html.RenderPartial("Partials/_ShowCard", document);
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>News</h2>
    <ul>
        <li>Priscilla first rehearsal</li>
        <li>Frankenstein....</li>
    </ul>
</div>
