<div class="header-carousel">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @{
                var firstHeaderImage = Documents["HeaderImages"].First();
                <div class="carousel-item header-carousel-image active" style="background-image: url(@Context.GetLink(firstHeaderImage))">
                </div>
            }
            
            @foreach(var headerImage in Documents["HeaderImages"].Skip(1))
            {
                <div class="carousel-item header-carousel-image" style="background-image: url(@Context.GetLink(headerImage))">
                </div>
            }
        </div>
    </div>
</div>

<div class="upcoming-shows-container">
    <div class="banner">
        <div class="container">
            <h2>Upcoming shows</h2>
        </div>
    </div>

    <div class="upcoming-shows">
        <div class="container">
            <div class="row">        
                @foreach(var document in Documents["UpcomingShows"].Take(3))
                {
                   Html.RenderPartial("Partials/_ShowCard", document);
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h2>News</h2>
    <ul>
        <li>Priscilla first rehearsal</li>
        <li>Frankenstein....</li>
    </ul>
</div>
