<h2>Shows</h2>
<!-- Top level of next 3 shows -->
<ul>
    @foreach(var document in Documents["Shows"])
    {
        <li>    
            <h2>@document.Get("title","defaultName")</h2>
        </li>
    }
</ul>
