@import "show-header";

.show-page-header {
    border-radius: 0;

    .row {
        height: 100%;
    }
}

.show-nav {
    font-size: 1.125em;
}

.show-timings-column {
    @extend %blue-border-left;
}

.upcoming-shows-section,
.past-shows-section {
    @extend %page-section;

    background: $lighter-blue;
    padding-bottom: 15px;
    padding-top: 15px;
}

.show-details-nav-header {
    text-transform: uppercase;
}

.sidebar-flyer {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 24em;
    padding: 1em 0;

    img {
        height: 100%;
    }
}

.flickr-embed-frame {
    height: 427px !important;
}
