.show-header {
    @include media-breakpoint-down(lg) {
        .show-title {
            font-size: 1.75em;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .show-authors,
        .show-authors-2,
        .show-authors-3 {
            font-size: 1.5em;
        }

        .show-subtitle {
            font-size: 1.3em;
        }

        .show-details-bottom {
            .showtime-summary {
                font-size: 1.3em;
            }
        }
    }

    .show-details {
        align-content: stretch;
        align-items: stretch;
        display: flex;
        flex-direction: column;
        padding-top: 8em;

        @include media-breakpoint-down(md) {
            padding-top: 1em;
            padding-top: 0;
            text-align: center;
        }
    }

    .show-details-bottom {
        padding-bottom: 1em;

        .showtime-summary {
            color: $white;
            font-size: 2em;
            font-weight: 300;
            padding-bottom: 0.5em;
            text-transform: uppercase;

            @media (height <= 60rem) {
                font-size: 1.5em;
            }

            @media (height <= 40rem) {
                font-size: 1em;
            }

            @include media-breakpoint-down(lg) {
                font-size: 1em;
            }
        }
    }

    .show-header-image {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 70vh;

        @include media-breakpoint-down(md) {
            min-height: 30vh;
        }

        @include media-breakpoint-down(sm) {
            min-height: 20vh;
        }

        &.contain-image {
            background-color: $white;
            background-size: contain;
        }
    }

    .show-title {
        color: $white;
        flex-grow: 1;
        font-size: 4.5em;
        font-weight: 900;
        margin-bottom: 0;

        @media (height <= 60rem) {
            font-size: 3em;
        }

        @media (height <= 40rem) {
            font-size: 2em;
        }

        @include media-breakpoint-down(md) {
            font-size: 2em;
            padding-bottom: 0.25em;
        }
    }

    .show-authors,
    .show-authors-2,
    .show-authors-3 {
        color: $white;
        flex-grow: 1;
        font-size: 2em;
        font-weight: 700;

        @media (height <= 60rem) {
            font-size: 1.7em;
        }

        @media (height <= 40rem) {
            font-size: 1.5em;
        }

        @include media-breakpoint-down(md) {
            font-size: 1em;
        }
    }

    .show-subtitle {
        color: $white;
        flex-grow: 2;
        font-size: 2em;
        font-weight: 300;
        max-width: 80%;

        @media (height <= 60rem) {
            font-size: 1.7em;
        }

        @media (height <= 40rem) {
            font-size: 1.5em;
        }

        @include media-breakpoint-down(md) {
            font-size: 1.2em;
            max-width: 100%;
        }
    }
}
