.show-header {
    .show-details-top {
        flex-grow: 1;
    }

    .show-details{
        display: flex;
        flex-direction: column;
    }

    .show-details-bottom {
        padding-bottom: 30px;
    }

    .show-header-image {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .show-title {
        font-size: 4.5em;
        font-weight: 900;
        margin-bottom: 0;
        color: white;
        padding-bottom: 0.5em;
    }

    .show-subtitle {
        font-size: 2em;
        font-weight: 300;
        color: white;
        padding-bottom: 1em;
    }

    .show-authors {
        font-size: 2em;
        font-weight: 700;
        color: white;
    }

    .show-authors-2 {
        font-size: 2em;
        font-weight: 700;
        color: white;
    }
    
    .show-authors-3 {
        font-size: 2em;
        font-weight: 700;
        color: white;
    }

    .showtime-summary {
        font-size: 1.3em;
        font-weight: 300;
        color: white;
        padding-bottom: 0.5em;
        text-transform: uppercase;
    }

    @include media-breakpoint-down(sm) {
        .show-title {
            font-size: 3em;
        }

        .show-subtitle {
            font-size: 1.5em;
        }

        .show-details {
            text-align: center;
        }
    }

    @include media-breakpoint-up(sm) {
        .show-details {
            padding-top: 120px;
        }
        
        .show-subtitle  {
            padding-top: 1em;
        }

        .showtime-summary {
            font-size: 2em;
        }
    }

    @include media-breakpoint-down(md) {
        .show-title {
            font-size: 4em;
            padding-bottom: 0.25em;
            margin-top: 0.25em;
        }

        .show-subtitle {
            padding-bottom: 0.25em;
        }

        .show-action-bar {
            padding-top: 0.5em;
        }
    }
}
