@mixin card($colour) {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(sm) {
        max-height: 300px;
    }

    @include media-breakpoint-up(sm) {
        height: 300px;
    }

    .card-body {
        background: $colour;
        display: flex;
        overflow: hidden;
        padding-bottom: 20px;
    }

    .card-footer,
    .card-header {
        background: darken($colour, 10);
        color: $white;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
    }

    .card-header {
        margin-bottom: 3px;
    }

    .card-img-top {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: 100% auto;
        flex-shrink: 1;
        height: 204px;
    }
}

@mixin card-container {
    padding-bottom: 15px;
    padding-top: 15px;

    a:hover {
        color: darken($white, 10);
        text-decoration: none;
    }
}
