$blue: #044484;
$light-blue: #23778e;
$lighter-blue: #499fcd;
$turquoies: #04a897;
$purple: #521e4a;
$pink: #c92c71;
$red: #cc2822;
$yellow: #f9b000;
$lime: #d7dd33;
$grey: #f2f2f2;

$white: #ffffff;
$highlight: #04a897;
