.social-icons {
    display: flex;
    flex-direction: row;
    float: right;
    list-style: none;
    padding: 0;

    .social-icon {
        height: 2rem;
        width: 2rem;
        margin: 0 0.4rem;
    }
}

.footer-image {
    height: 60px;
}

.footer-container {
    border-top: $sedos-blue 3px solid;
    padding-bottom: 10px;
    padding-top: 10px;

    .navigation-link {
        font-size: 18px;
    }
}
