.banner {
    background: $sedos-blue;
    color: $white;
    margin-top: 3px;
    padding: 0.4em 0;
    width: 100%;

    &.empty-divider {
        height: 3px;
    }

    h1 {
        font-size: 1.75em;
    }
}

%page-section {
    padding-bottom: 30px;
    padding-top: 30px;
}

.mt-3px {
    margin-top: 3px;
}

%blue-border-left {
    @include media-breakpoint-up(md) {
        border-left: 1px solid $sedos-blue;
    }
}

.page-section {
    @extend %page-section;

    background: $lighter-blue;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .figure-caption {
        color: #212529;
        font-style: italic;
        text-align: center;
    }
}

.video-responsive {
    height: 0;
    margin-bottom: 1em;
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;

    iframe {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}

.blockquote-footer-no-dash {
    text-align: center;

    &::before {
        content: ''; // override bootstrap default
    }
}

.blockquote {

    font-size: 1.1rem;

    p {
        font-weight: bold;

        margin-bottom: 0;
        text-align: center;

        &::before {
            content: '“';
        }

        &::after {
            content: '”';
        }
    }

    footer {
        text-align: center;

        &::before {
            content: '';
        }
    }
}

.main-wrapper {
    @include media-breakpoint-down(sm) {
        padding-top: 76px;
    }
}
