.banner {
    width: 100%;
    background: $sedos-blue;
    color: $white;
    padding: 0.4em 0;

    &.empty-divider {
        height: 3em;
    }
}

%page-section {
    padding-top: 30px;
    padding-bottom: 30px;
}
