.main-navigation {
    font-size: 1.2rem;
    text-transform: uppercase;

    .nav-link {
        padding-bottom: 0.65em;
    }

    .navbar-collapse {
        margin-top: auto;
    }
}

.navbar-brand {
    padding-bottom: 0;

    padding-top: 0;

    .logo {
        height: 4em;

        @include media-breakpoint-down(lg) {
            height: 3em;
        }
    }
}
