.main-navigation {
    .nav-link {
        text-transform: uppercase;
        font-size: 1.2rem;
        padding-bottom: 0.65em;
    }

    .navbar-collapse {
        margin-top: auto;
    }
}

.navbar-brand {
    #sedos-logo {
        height: 4em;

        @include media-breakpoint-down(lg) {
            height: 3em;
        }

        path {
            fill: $sedos-blue;
        }
    }

    padding-top: 0;
    padding-bottom: 0;
}
