.main-navigation {
    background-color: $sedos-blue;

    .nav-link {
        text-transform: uppercase;
    }
}

.navbar-brand {
    .logo {
        padding-top: 0.5em;
        padding-bottom: 0.8em;

        height: 4em;

        @include media-breakpoint-down(sm) {
            height: 3em;
        }
    }

    .nav-link {
        color: $white;
    }

    padding-top: 0;
    padding-bottom: 0;
}
