@import "bootstrap-overrides";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "layout";
@import "header-carousel/header-carousel";
@import "home-page/home-page";
@import "footer";
@import "news/news";
@import "events/events";
@import "shows/shows";
@import "about/about";
@import "your-visit/your-visit";
@import "header";
@import "support/support";

a {
    text-decoration: none;
}
