.event-card {
    .card-body {
        height: 100px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-footer {
        a {
            color: white;
        }
    }

    .card-img-top {
        height: 200px;
    }
}

.events-section {
    @extend %page-section;
    background: $purple;
    margin-bottom: 3px;
}
