.event-card {
    overflow: hidden;
    color: white;
    background: $pink;

    border: none;

    .card-body {
        height: 100px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-footer {
        a {
            color: white;
        }
    }

    .card-img-top {
        height: 200px;
    }

    .card-footer, .card-header {
        background: darken($pink, 10);
    }
}

.events-section {
    @extend %page-section;
    background: $purple;
    margin-bottom: 3px;
}
