.home-page-show-carousel-item {
    height: 70vh;
    border-radius: 0;

    .show-title {
        a, a:focus, a:hover {
            color: white;
            text-decoration: none;
        }
    }

    .row {
        height: 100%;
    }
}

.header-carousel {
    .carousel-indicators {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        overflow-x: initial;

        li {
            width: auto;
            height: auto;
            text-indent: initial;

            .hero-indicator-image {
                width: 100px;
                height: 100px;

                background-position-x: center;
                background-position-y: center;
                background-size: cover;
                background-repeat: no-repeat;

                opacity: 0.3;
            }

            &.active {
                .hero-indicator-image {
                    opacity: 1;
                }
            }
        }
    }
}
