.home-page-show-carousel-item {
    border-radius: 0;
    height: 70vh;

    .show-title {
        a,
        a:focus,
        a:hover {
            color: $white;
            text-decoration: none;
        }
    }

    .row {
        height: 100%;
    }
}

.header-carousel {
    .has-indicators {
        margin-bottom: 130px;
    }

    .carousel-indicators {
        bottom: -130px;
        overflow-x: initial;

        li {
            height: auto;
            text-indent: initial;
            width: auto;

            .hero-indicator-image {
                background-position-x: center;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100px;
                opacity: 0.3;
                width: 100px;
            }

            &.active {
                .hero-indicator-image {
                    opacity: 1;
                }
            }
        }
    }
}
