.home-page-show-carousel-item {
    border-radius: 0;
    height: 70vh;

    .show-title {
        a,
        a:focus,
        a:hover {
            color: $white;
            text-decoration: none;
        }
    }

    .row {
        height: 100%;
    }
}

.header-carousel {
    .has-indicators {
        margin-bottom: 130px;
    }

    .carousel-indicators {
        bottom: -130px;
        margin-left: 0;
        margin-right: 0;
        overflow-x: initial;

        li {
            height: 100px;
            text-indent: initial;
            width: 100px;

            .hero-indicator-image {
                background-position-x: center;
                background-position-y: center;
                background-repeat: no-repeat;
                background-size: cover;
                height: 100%;
                opacity: 0.3;
                width: 100%;

                &.contain-image {
                    background-size: contain;
                    background-color: $white;
                }
            }

            &.active {
                .hero-indicator-image {
                    opacity: 1;
                }
            }
        }
    }
}
