.show-card-wrapper {
    padding-bottom: 15px;
    padding-top: 15px;

    .show-card-link {
        &:hover {
            text-decoration: none;
        }
    }

    .show-card {
        align-items: flex-end;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        flex-flow: row nowrap;
        height: 360px;
        width: 100%;

        @include media-breakpoint-up(sm) {
            background-color: $sedos-blue;
        }

        .show-details {
            background: transparentize($sedos-blue, 0.3);
            width: 100%;
        }

        .show-title {
            color: $white;
            text-align: center;
            width: 100%;
        }
    }
}

.upcoming-show-card-container {
    padding-bottom: 15px;
    padding-top: 15px;

    .show-card {
        @include media-breakpoint-down(sm) {
            max-height: 300px;
        }

        @include media-breakpoint-up(sm) {
            height: 400px;
        }

        .card-body {
            background: $sedos-blue;
            overflow: hidden;
            padding-bottom: 20px;
        }

        .card-footer {
            a {
                color: $white;
            }
        }

        .card-img-top {
            background-position-x: center;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: cover;
            flex-shrink: 1;
            height: 300px;
        }

        .card-footer,
        .card-header {
            background: darken($sedos-blue, 10);
        }

        .card-header {
            border-bottom: 3px solid $white;
        }
    }
}
