.show-card-wrapper {
    padding-top: 15px;
    padding-bottom: 15px;

    .show-card-link {
        &:hover {
            text-decoration: none;
        }
    }

    .show-card {
        background: $sedos-blue;
        width: 100%;
        height: 360px;

        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;

        background-position-x: center;
        background-position-y: center;
        background-size: contain;
        background-repeat: no-repeat;

        .show-details {
            width: 100%;
            background: transparentize($sedos-blue, 0.3);
        }

        .show-title {
            text-align: center;
            width: 100%;
            color: $white;
        }
    }
}
