.banner {
    width: 100%;
    background: $sedos-blue;
    color: $white;
    padding: 0.4em 0;
    margin-top: 3px;

    &.empty-divider {
        height: 3px;
    }

    h1 {
        font-size: 1.75em;
    }
}

%page-section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mt-3px {
    margin-top: 3px;
}

%blue-border-left {
    @include media-breakpoint-up(md) {
        border-left: 1px solid $sedos-blue;
    }
}

.page-section {
    @extend %page-section;
    background: $lighter-blue;
}

.figure {
    display: block;
    margin-left: auto;
    margin-right: auto;

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    figcaption.figure-caption {
        text-align: center;
        font-style: italic;
        color: #212529;
    }
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.blockquote-footer-no-dash { 
    text-align: center;
    &::before {
      content: ""; // override bootstrap default
    }
}
  
blockquote {
    p {
        text-align: center;
        &::before {
            content: "“";
        }
        &::after {
            content: "”";
        }
    }
    footer {
        text-align: center;
        &::before {
            content: "";
        }
    }
}