.navbar-primary { background-color: #044484; }

.main-navigation { background-color: #044484; }

.navbar-brand { padding-top: 0; padding-bottom: 0; }

.navbar-brand .logo { padding-top: 0.5em; padding-bottom: 0.8em; height: 3em; }

.navbar-brand .nav-link { color: #ffffff; }

.banner { width: 100%; background: #044484; color: #ffffff; padding: 0.4em 0; }

.header-carousel .header-carousel-image { background-position-x: center; background-position-y: center; background-size: cover; background-repeat: no-repeat; height: 70vh; border-radius: 0; }

.header-carousel-narrow .header-carousel-image { background-position-x: center; background-position-y: center; background-size: cover; background-repeat: no-repeat; height: 40vh; border-radius: 0; }

.show-card-wrapper { padding-top: 15px; padding-bottom: 15px; }

.show-card-wrapper .show-card-link:hover { text-decoration: none; }

.show-card-wrapper .show-card { background: #044484; width: 100%; height: 400px; display: flex; flex-flow: row nowrap; align-items: flex-end; background-position-x: center; background-position-y: center; background-size: cover; background-repeat: no-repeat; }

.show-card-wrapper .show-card .show-details { width: 100%; background: rgba(4, 68, 132, 0.7); }

.show-card-wrapper .show-card .show-title { text-align: center; width: 100%; color: #ffffff; }

.show-card-wrapper .show-card .show-byline { text-align: center; width: 100%; color: #cccccc; }

.upcoming-shows { background: #ccc; padding: 1em 0; }

.home-page-show-carousel-item { background-position-x: center; background-position-y: center; background-size: cover; background-repeat: no-repeat; height: 70vh; border-radius: 0; }

.home-page-show-carousel-item a, .home-page-show-carousel-item a:focus, .home-page-show-carousel-item a:hover { color: white; text-decoration: none; }

.home-page-show-carousel-item .show-details { background-color: rgba(0, 0, 0, 0.2); }

.home-page-show-carousel-item .container { height: 100%; }

.home-page-show-carousel-item .container .row { height: 100%; }
