.news-card {
    @include media-breakpoint-down(sm) {
        max-height: 300px;
    }

    @include media-breakpoint-up(sm) {
        height: 300px;
    }

    .card-body {
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-footer {
        a {
            color: white;
        }
    }

    .card-footer, .card-header {
        background: darken($light-blue, 10);
    }

    .card-img-top {
        height: 200px;
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}
