@import "news-card";

.news-section {
    @extend %page-section;
    background: $turquoise;
    margin-bottom: 3px;
    
    &:last-child {
        margin-bottom: 0;
    }
}

.news-article-details-column {
    @extend %blue-border-left;
}