.news-card {
    overflow: hidden;
    color: white;
    
    .card-body {
        height: 211px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-footer {
        a {
            color: white;
        }
    }
}

@include bg-variant(".news-card-container:nth-child(odd) > .news-card", theme-color("light-blue"));
@include bg-variant(".news-card-container:nth-child(even) > .news-card", theme-color("lighter-blue"));
