.news-card {
    overflow: hidden;
    color: white;
    background: $light-blue;

    .card-body {
        height: 211px;
        overflow: hidden;
        margin-bottom: 20px;
    }

    .card-footer {
        a {
            color: white;
        }
    }
}
