.header-carousel {
    .header-carousel-image {
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0;
        height: 70vh;
    }
}
