.header-carousel {
    .header-carousel-image {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 70vh;
        border-radius: 0;
    }
}

.header-carousel-narrow {
    .header-carousel-image {
        background-position-x: center;
        background-position-y: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 40vh;
        border-radius: 0;
    }
    margin-bottom: 3px;
}
