---
title: About
header-image: assets/images/headers/macbeth.jpg
---

<div class="page-wrapper bg-light">
    @{
        Html.RenderPartial("Partials/_HeaderCarousel");

        var sectionRows = Documents["AboutSections"]
            .GroupBy(section => section.Get<int>("about-row"))
            .OrderBy(grouping => grouping.Key);
    }

    <div class="banner">
        <div class="container">
            <h1>About</h1>
        </div>
    </div>

    <div class="about-section">
        @foreach(var sectionRow in sectionRows)
        {
            <div class="about-section">
                <div class="container">
                    <div class="row">
                        @foreach(var aboutSection in sectionRow.OrderBy(row=>row.Get<int>("about-column")))
                        {
                            <div class="col-md">
                                <a class="text-white" href="@Context.GetLink(aboutSection)">
                                    <div class="card border-0 text-white mb-3 mb-md-0 about-card">
                                        <div class="card-header">
                                            <h4 class="card-title">@aboutSection["title"]</h4>
                                        </div>
                                        <img class="card-img-top" src="@Context.GetLink((IDocument)aboutSection["about-image"])">
                                    </div>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
