<div class="header-carousel">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @{
                var firstShow = Documents["UpcomingShows"].First();

                Html.RenderPartial("Partials/_HomePageCarouselItem", Tuple.Create(firstShow, true));

                foreach(var show in Documents["UpcomingShows"].Skip(1)) 
                {
                    Html.RenderPartial("Partials/_HomePageCarouselItem", Tuple.Create(show, false));
                }                
            }            
        </div>
    </div>
</div>

<div class="banner"> 
    <div class="container">
        <h2>News</h2>
    </div>
</div>

<div class="container news-section">
    <div class="row">   
    @{
        foreach(var newsItem in Documents["LatestNews"])
        {
            Html.RenderPartial("Partials/_NewsItemHomePageCard", @newsItem);
        }    
    }
    </div>
</div>

<div class="banner"> 
    <div class="container">
        <h2>Events</h2>
    </div>
</div>

<div class="container events-section">
    <div class="row">   
    @{
        foreach(var eventItem in Documents["UpcomingEvents"])
        {
            Html.RenderPartial("Partials/_EventItemHomePageCard", @eventItem);
        }    
    }
    </div>
</div>
