---
title: Latest news
float-nav: true
hide-top-title: true
display-carousel: true
header-images:
  - assets/images/headers/molm.jpg
---

@{
    var news = Documents["News"]
        .GroupBy(article => article.Get<DateTime>("date").Year)
        .OrderByDescending(grouping => grouping.Key);

    var latestNews = news.First();

    <div class="top-news-section">
        <div class="container">
            <div class="row">
                @foreach(var article in latestNews)
                {
                    Html.RenderPartial("Partials/_NewsCard", @article);
                }
            </div>
        </div>
    </div>

    @foreach(var grouping in news.Skip(1))
    {
        <div class="banner">
            <div class="container">
                <h1>@grouping.Key</h1>
            </div>
        </div>

        <div class="news-section">
            <div class="container">
                <div class="row">
                    @foreach(var article in grouping)
                    {
                        Html.RenderPartial("Partials/_NewsCard", @article);
                    }
                </div>
            </div>
        </div>
    }
}
