---
title: News
---

<div class="all-news-container">        
    @{
        var news = Documents["News"]
            .GroupBy(article => article.Get<DateTime>("date").Year)
            .OrderByDescending(grouping => grouping.Key);
        
        foreach(var grouping in news)
        {
            <div class="banner">
                <div class="container">
                    <h1>@grouping.Key</h1>
                </div>
            </div>
            
            <div class="container">
                <div class="row">
                    <ul>
                    @foreach(var article in grouping) 
                    {
                        <li><a href="@Context.GetLink(article)">@article["Title"]</a></li>
                    }
                    </ul>
                </div>
            </div>
        }
    }        
</div>
