---
title: News
show-carousel: true
---

@{
    var news = Documents["News"]
        .GroupBy(article => article.Get<DateTime>("date").Year)
        .OrderByDescending(grouping => grouping.Key);

    foreach(var grouping in news)
    {
        <div class="banner">
            <div class="container">
                <h1>@grouping.Key</h1>
            </div>
        </div>

        <div class="container news-section">
            <div class="row">
                @foreach(var article in grouping)
                {
                    Html.RenderPartial("Partials/_NewsCard", @article);
                }
            </div>
        </div>
    }
}
