---
title: Past productions
header-image: assets/images/headers/SedosWebsite-Banner-redcurtain.jpg
RedirectFrom:
 - archive/index.htm
---

<div class="page-wrapper bg-light">
    @{
        Html.RenderPartial("Partials/_HeaderImage");
    }
    <div>
        @{
            var pastShows = Outputs.FromPipeline("AllShows")
                .Where(show => show.Get("showtimes", Enumerable.Empty<IDocument>()).All(x => x.Get<DateTime>("time") <
            DateTime.Now))
            .Where(show => show.Get("showtimes", Enumerable.Empty<IDocument>()).Any())
            .OrderBy(show => show.Get("showtimes", Enumerable.Empty<IDocument>()).Select(x =>
            x.Get<DateTime>("time")).OrderBy(x => x).FirstOrDefault())
            .GroupBy(show => show.Get("year"))
            .OrderByDescending(grouping => grouping.Key);

            foreach (var grouping in pastShows)
            {
                <div class="banner">
                    <div class="container">
                        <h1 id="@grouping.Key">@grouping.Key</h1>
                    </div>
                </div>
                <div class="past-shows-section">
                    <div class="container">
                        <div class="row">
                            @foreach (var show in grouping)
                            {
                                Html.RenderPartial("Partials/_ShowArchiveCard", show);
                            }
                        </div>
                    </div>
                </div>
            }

            <div class="banner">
                <div class="container">
                    <h1 id="all-shows">All Shows</h1>
                </div>
            </div>
            <div class="past-shows-section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 show-card-wrapper">
                            <a href="/all-shows" class="show-card-link">
                                <div class="show-card" style="background-image: url(/assets/listofshows.jpg)">
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
