---
title: Shows
---

<div class="all-shows-container">        
    @{
        var futureShows = Documents["AllShows"]
            .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").Any())
            .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x => x).Last() >= DateTime.Now);

        var pastShows = Documents["AllShows"]
            .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").Any())
            .Except(futureShows)
            .OrderBy(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x => x).First())
            .GroupBy(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x => x).First().Year)
            .OrderByDescending(grouping => grouping.Key);

        <div class="container">
            <div class="row">   
                @foreach(var show in futureShows) 
                {
                    Html.RenderPartial("Partials/_ShowArchiveCard", show);
                }
            </div>
        </div>

        foreach(var grouping in pastShows)
        {
            <div class="banner">
                <div class="container">
                    <h1>@grouping.Key</h1>
                </div>
            </div>
            
            <div class="container">
                <div class="row">   
                    @foreach(var show in grouping) 
                    {
                        Html.RenderPartial("Partials/_ShowArchiveCard", show);
                    }
                </div>
            </div>
        }
    }        
</div>
