header {
  flex: none;
}

.header {
  display: flex;
  padding: 1.5em;
  background: $light-grey;

  .header-title {
    display: flex;
    align-items: baseline;

    h1 {
      margin: 0;
    }   

    a { 
      &:hover, &:link, &:active, &:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
