@model IDocument

<div class="event-card-container col-md-3 col-sm-6 mb-3 mb-md-0">
    <a href="@Context.GetLink(Model)">
        <div class="event-card card border-0">
            <div class="card-header">
                <h4 class="card-title">@Model["title"]</h4>
                <div class="card-text text-light">
                    <small>
                        @{
                            var eventTimes = Model.Get("times", Enumerable.Empty<DateTime>());
                            var firstEventTime = eventTimes.Any(x => x > DateTime.Now)
                                ? eventTimes.FirstOrDefault(x => x >= DateTime.Now)
                                : eventTimes.OrderBy(x => x).FirstOrDefault();
                            var text = Model.ContainsKey("recurrence") && !string.IsNullOrWhiteSpace(Model.Get<string>("recurrence"))
                                ? Model.Get("recurrence")
                                : firstEventTime.ToString("d MMMM");
                        }
                        @text
                    </small>
                </div>
            </div>
            <div class="card-img-top">
                <img src="@Context.GetLink((IDocument)Model["image"])" alt="@Model.Get("imageAlt", Model.Get<string>("title"))">
            </div>
            <div class="card-footer">
                See more
            </div>
        </div>
    </a>
</div>
