@model IDocument

<div class="col-md-3 col-sm-6">
    <div class="card">
        <img class="card-img-top" src="@Context.GetLink((IDocument)Model["image"])">
        <div class="card-img-overlay">
            <h4 class="card-title">@Model["title"]</h4>
        </div>
        <div class="card-footer text-muted">
            <a href="@Context.GetLink(Model)" >
                See more...
            </a>
        </div>
    </div>
</div>
