@model IDocument

<div class="event-card-container col-md-3 col-sm-6 mb-3 mb-md-0">
    <div class="event-card card bg-pink text-white border-0">
        <div class="card-header">
            <h4 class="card-title">@Model["title"]</h4>
            <div class="card-text text-light"><small>@(Model.Get<DateTime>("time").ToString("MMMM dd"))</small></div>
        </div>
        <img class="card-img-top" src="@Context.GetLink((IDocument)Model["image"])">
        <div class="card-footer text-muted">
            <a href="@Context.GetLink(Model)" >
                See more
            </a>
        </div>
    </div>
</div>
