@model IDocument

<div class="event-card-container col-md-3 col-sm-6 mb-3 mb-md-0">
    <div class="event-card card bg-pink text-white border-0">
        <div class="card-header">
            <h4 class="card-title">@Model["title"]</h4>
            <div class="card-text text-light">
                <small>
                    @{
                        var text = Model.ContainsKey("recurrence")
                        ? Model.Get("recurrence")
                        : Model.Get<DateTime>("time").ToString("dd MMMM");
                    }
                    @text
                </small>
            </div>
        </div>
        <div class="card-img-top" style="background-image: url(@Context.GetLink((IDocument)Model["image"]))"></div>
        <div class="card-footer text-muted">
            <a href="@Context.GetLink(Model)" >
                See more
            </a>
        </div>
    </div>
</div>
