@{

    var headerImage = Model.Get<IDocument>("header-image", null)
        ?? Outputs.FromPipeline("HeaderImages")
            .Where(d => d.Get("key", "") == Model.Get<string>("category", null))
            .Select(d => d.Get<IDocument>("image", null))
            .FirstOrDefault()
        ?? Outputs.FromPipeline("FallbackHeaders").ToList().First();
}

<!--  TODO QQ this shouldn't be a carousel anymore -->
<div class="header-carousel-narrow">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item header-carousel-image active"
                 style="background-image: url(@Context.GetLink(headerImage))">
            </div>
        </div>
    </div>
</div>
