<head>
    <title>@Model["title"]</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Context.GetLink("/assets/css/main.css")" />
    <link rel="icon" type="image/png" href="@Context.GetLink("/assets/images/favicon.png")">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-87589923-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      document.cookie = "_ga=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.cookie = "_gid=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.cookie = "__utma=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
      document.cookie = "__utmz=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";

      gtag('config', 'UA-87589923-2', {
        client_storage: 'none',
        cookie_expires: 0,
        cookie_update: false
      });
    </script>

    @{
      if(Model.ContainsKey("jsonLD"))
      {
        <!-- JSON-LD SEO tags -->
        <script type="application/ld+json">
        @Html.Raw(Model.Get("jsonLd",""));
        </script>
      }
    }
</head>
