@{
    var headerImage = Model.Get<IDocument>("header-image", null)
       ?? Outputs.FromPipeline("HeaderImages")
           .Where(d => d.Get("key", "") == Model.Get<string>("category", null))
           .Select(d => d.Get<IDocument>("image", null))
           .FirstOrDefault()
       ?? Outputs.FromPipeline("HeaderImages")
           .Where(d => d.Get("key", "") == "fallback")
           .Select(d => d.Get<IDocument>("image", null))
           .First();


    var headerImagePath = Context.GetLink(headerImage);
    if (Model.Get<IDocument>("header-image", null) == null
        && Model.Get<string>("header-image", null) != null
    )
    {
        headerImagePath = Context.GetLink(Model.Get<string>("header-image", null));
    }
}

<div class="static-header-image"
     style="background-image: url(@headerImagePath)">
</div>
