@model IDocument

@{

    var headerImage = Model.Get<IDocument>("header-image", null)
        ?? Model.Get<IDocument>("fallback-header", null)
        ?? Documents["FallbackHeaders"].ToList().First();
}

<!--  TODO QQ this shouldn't be a carousel anymore -->
<div class="header-carousel-narrow">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item header-carousel-image active"
                 style="background-image: url(@Context.GetLink(headerImage))">
            </div>
        </div>
    </div>
</div>
