@{
    var floatNav = Document.Get("float-nav", false);
}
@{
    if(floatNav)
    {
        @:<div class="container fixed-top">
        @:<nav class="navbar navbar-expand-md main-navigation navbar-light bg-light">
    }
    else
    {
        @:<nav class="navbar navbar-expand-md main-navigation navbar-light">
        @:<div class="container">
    }
}

<a class="navbar-brand" href="@Context.GetLink("/")">
    <img class="logo" src="@Context.GetLink("/assets/images/logo/logo-blue.png")"/>
</a>

<button class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#topLevelNav"
        aria-controls="topLevelNav"
        aria-expanded="false"
        aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="topLevelNav">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/whats-on">What's On<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/news">News<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/get-involved">Get Involved<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/your-visit">Your visit<span class="sr-only"></span></a>
        </li>
    </ul>

    <a class="btn btn-sedos-blue my-2 my-sm-0" href="">Book tickets</a>
</div>

@{
    if(floatNav)
    {
        @:</div>
        @:</nav>
    }
    else
    {
        @:</nav>
        @:</div>
    }
}

