@model IDocument

<div class="col-md-3 col-sm-6 news-card-container">
    <div class="card news-card border-0">
        <div class="card-body">
            <h4 class="card-title">@Model["title"]</h4>
            <p class="card-text news-excerpt">@Html.Raw(Model["Excerpt"])</p>
        </div>
        <div class="card-footer text-muted">
                <a href="@Context.GetLink(Model)" >
                    Read the full article
                </a>
        </div>
        
    </div>
</div>
