@model IDocument

<div class="col-md-3 col-sm-6">
    <div class="card news-card">
        <div class="card-block news-excerpt">
            <h4 class="card-title">@Model["title"]</h4>
            <p class="card-text ">@Html.Raw(Model["Excerpt"])</p>
        </div>
        <div class="card-footer text-muted">
            <a href="@Context.GetLink(Model)" >
                see more...
            </a>
        </div>
    </div>
</div>
