@model IDocument

<div class="col-md-3 col-sm-6 show-card-wrapper">

    @{
        var flyer = Model.Get<string>("flyer");
        var flyerImagelink = flyer == null ? "" : Context.GetLink(flyer);
        var showLink = Context.GetLink(Model);
        var showTitle = Model.Get<string>("title");
    }

    @if(flyerImagelink != "")
    {
        if(Model.Get<bool>("has-body-content"))
        {
            <a href="@showLink" class="show-card-link">
                <div class="show-card" style="background-image: url(@flyerImagelink)">
                </div>
            </a>
        }
        else
        {
            <div class="show-card" style="background-image: url(@flyerImagelink)">
            </div>
        }
    }
    else
    {
        <div class="card bg-sedos-blue text-white border-0">
            <div class="card-header">
                <h4 class="card-title text-white">@showTitle</h4>
            </div>
        </div>
    }
</div>
