<nav class="navigation">
    <section  class="container">
        <a class="navigation-title" href="">
            <h1 class="title">Sedos</h1>
        </a>
        
        <ul class="navigation-list float-right">
            <li class="navigation-item">
                <a class="navigation-link" href="/about">
                    About
                </a>
            </li>
        </ul>   
    </section>     
</nav>