@model IDocument

@{ 
    var imageLink = Model.Get("HomePageImagePath", "No Image");
}

<div class="col-md-4 show-card-wrapper">
    <div class="show-card" style="background-image: url(@Context.GetLink(imageLink))">
        <div class="show-details">
            <h2 class="show-title">@Model.Get("title","defaultName")</h2>
            <div class="show-byline">@Model["byline"]</div>
        </div>
    </div>
    <!-- show dates made friendly -->
    <!-- link to show page -->
</div>