@import 'node_modules/normalize-scss/sass/normalize/import-now';
@import 'fonts';
@import 'colours';
@import 'header/header';

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;
}

body {
  background: $sedos-blue;
}
