<!DOCTYPE html>
<html>
  @Html.Partial("Partials/_head")
  <body>
    <main class="wrapper">
      @Html.Partial("Partials/_Navigation")
      <div id="main-wrapper">  
          @RenderBody()
      </div>
    </main>    
  </body>
</html>
