<!DOCTYPE html>
<html lang="en">
  @Html.Partial("Partials/_Head")
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe title="google tag manager injection" src="https://www.googletagmanager.com/ns.html?id=GTM-PG6KHFD"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    @Html.Partial("Partials/_Navigation")
    <div class="main-wrapper">
        @RenderBody()
    </div>

    @Html.Partial("Partials/_Footer")
  </body>
</html>
