<!DOCTYPE html>
<html lang="en">
  @Html.Partial("Partials/_Head")
  <body>
    @Html.Partial("Partials/_Navigation")
    <div class="main-wrapper">
        @RenderBody()
    </div>

    @Html.Partial("Partials/_Footer")
  </body>
</html>
