@{
    Layout = "_Default";
    IgnoreBody();
}

@model IDocument

<div class="page-wrapper bg-light">
    @{Html.RenderPartial("Partials/_HeaderImage");}

    <div class="banner">
        <div class="container">
            <h1>@Model.Get("title", "Get involved")</h1>
        </div>
    </div>

    <div class="page-section">
        <div class="container bg-light">
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @if(Outputs.FromPipeline("UpcomingEvents").Any())
    {
        <div class="banner">
            <div class="container">
                <h1>Auditions, workshops and socials</h1>
            </div>
        </div>

        <div class="events-section">
            <div class="container">
                <div class="row">
                @{
                    foreach(var eventItem in Outputs.FromPipeline("UpcomingEvents"))
                    {
                        Html.RenderPartial("Partials/_EventCard", @eventItem);
                    }
                }
                </div>
            </div>
        </div>
    }

    <div class="banner">
        <div class="container">
            <h1>Regular events</h1>
        </div>
    </div>

    <div class="events-section">
        <div class="container ">
            <div class="row">
                @foreach(var eventItem in Outputs.FromPipeline("RegularEvents").OrderBy(i => i["title"]))
                {
                    Html.RenderPartial("Partials/_EventCard", @eventItem);
                }

                @foreach(var group in Model.Get<IEnumerable<IDocument>>("groups"))
                {
                    <div class="event-card-container col-md-3 col-sm-6">
                        <div class="card border-0 regular-event-card">
                            <a href="@Context.GetLink(group.Get<string>("url"))">
                                <div class="card-header">
                                    <h4 class="card-title text-white">@group["name"]</h4>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
