@{
    Layout = "_Page";
}

@model IDocument

<div class="container">
    <div class="row">
        <div class="col">
            @RenderBody()
        </div>
    </div>
</div>

<div class="container events-section">
    <div class="row">
    @{
        foreach(var eventItem in Documents["UpcomingEvents"])
        {
            Html.RenderPartial("Partials/_EventItemHomePageCard", @eventItem);
        }
    }
    </div>
</div>
