@{
    Layout = "_Page";
}

@model IDocument

<div class="row">
    <div class="col-md-8 pt-3">
        @RenderBody()
    </div>
    <div class="col-md-4 news-article-details-column pt-3">
        <h3>More news</h3>
        @foreach(var article in Documents["News"].Where(x => Model["title"] != x["title"]).OrderByDescending(x => x["date"]).Take(4))
        {
            <a href="@Context.GetLink(article as IDocument)"><h6>@article["title"]</h6></a>
        }
    </div>
</div>
