@{
    Layout = "_Page";
}

@model IDocument

<div class="container bg-white">
    <div class="row">
        <div class="col-md-8">
            @RenderBody()
        </div>
        <div class="col-md-4 events-column">
            <h3>More news</h3>
            <!-- the most recent 4 articles that aren't the one we're on currently  -->
            @foreach(var article in Documents["News"].Select(x=> x["title"]))
            {
                <h6>@article</h6>
            }
        </div>
    </div>
</div>
