@{
    Layout = "_Default";
    IgnoreBody();
}

@model IDocument

<div class="page-wrapper bg-light">
    @{Html.RenderPartial("Partials/_HeaderImage");}

    @{
        var latestNews = Outputs.FromPipeline("News")
            .OrderByDescending(article => article.Get<DateTime>("date"))
            .ThenBy(article => article["title"])
            .Take(8);

        <div class="banner">
            <div class="container">
                <h1>@Model["title"]</h1>
            </div>
        </div>
        <div class="news-section">
            <div class="container">
                <div class="row">
                    @foreach(var article in latestNews)
                    {
                        Html.RenderPartial("Partials/_NewsCard", @article);
                    }
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col">
                        <p class="text-center">
                            <a class="text-white" href="/all-news">
                                View all news
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
