@{
	Layout = "_Default";
}

<div class="page-wrapper">
    @Html.Partial("Partials/_NarrowHeaderCarousel", Documents["HeaderImages"].ToList())   
    <div class="banner">
        <div class="container">
            <h1>@Model["title"]</h1>
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
</div>
