@{
	Layout = "_Default";
}

<div class="page-wrapper">
    @{
        var headerImage = Model.Get<IDocument>("HeaderImage", null);
        IEnumerable<IDocument> headerImages;
        if(headerImage == null)
        {
            headerImages = Documents["FallbackHeaders"].ToList();
        }
        else
        {
            headerImages = new [] { headerImage };
        }

        Html.RenderPartial("Partials/_NarrowHeaderCarousel", headerImages);
    }
    <div class="banner">
        <div class="container">
            <h1>@Model["title"]</h1>
        </div>
    </div>
    @{
        if(Model.Get<bool>("use-container", false))
        {
            <div class="container">
                @RenderBody()
            </div>
        }
        else
        {
            @RenderBody();
        }
    }
</div>
