@{
    Layout = "_Default";
}

<div class="page-wrapper bg-light">
    @{
        Html.RenderPartial("Partials/_HeaderCarousel");
    }

    <div class="container bg-white">
        @RenderBody()
    </div>
</div>
