@{
    Layout = "_Default";
}

<div class="page-wrapper bg-light">
    @{
        if(Model.Get("display-carousel", false))
        {
            var headerImage = Model.Get<IDocument>("header-images", null);
            IEnumerable<IDocument> headerImages;
            if(headerImage == null)
            {
                headerImages = Documents["FallbackHeaders"].ToList();
            }
            else
            {
                headerImages = new [] { headerImage };
            }

            Html.RenderPartial("Partials/_NarrowHeaderCarousel", headerImages);
        }
    }

    @RenderBody();
</div>
