@{
    Layout = "_Default";
}

<div class="page-wrapper">
    @{
        Html.RenderPartial("Partials/_HeaderCarousel");
    }

    <div class="banner">
        <div class="container">
            <h1>@Model.Get("page-title", Model["title"])</h1>
        </div>
    </div>

    <div class="page-section">
        <div class="container bg-light">
            <div class="row">
                <div class="col">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
</div>
