@{
	Layout = "_Default";
}

@model IDocument

<div class="header-carousel">
    <div class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            @{
                Html.RenderPartial("Partials/_HomePageCarouselItem", Tuple.Create(Model, true));
            }            
        </div>
    </div>
</div>

<div class="banner empty-divider"> 
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8" role="tabpanel">
            <ul class="nav nav-tabs nav-fill" role="tablist" id="myTab">
                <li class="nav-item">
                    <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-expanded="false">Details</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="production-photos-tab" data-toggle="tab" href="#production-photos" role="tab" aria-controls="production-photos" aria-expanded="false">Production Photos</a>
                </li>               
            </ul>
            <div class="tab-content" id="myTabContent">
                <div role="tabpanel" class="tab-pane fade active show" id="details" aria-labelledby="details-tab" aria-expanded="false">
                    <p>
                        @RenderBody()
                    </p>
                </div>
                <div class="tab-pane fade" id="production-photos" role="tabpanel" aria-labelledby="production-photos-tab" aria-expanded="true">
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h4>@Model.Get("Venue")</h4>
            @{
                var showDates = Model.Get("showtimes", Enumerable.Empty<DateTime>()).OrderBy(x => x);
                if(showDates.Any())
                {
                    <ul>
                        @foreach(var showDate in showDates)
                        {
                            <li>@showDate</li>
                        }
                    </ul>
                }
            }
            <button class="btn">Buy Tickets!</button>
        </div>
    </div>
</div>
