@{
	Layout = "_Default";
}
<div class="container">
    <div class="row">
        <div class="col">
	        @RenderBody()
        </div>
    </div>
</div>

<div>
    @{
        var futureShows = Documents["AllShows"]
            .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").Any())
            .Where(show => show.Get<IEnumerable<DateTime>>("showtimes").OrderBy(x => x).Last() >= DateTime.Now);

        <div class="container">
            <div class="row">
                @foreach(var show in futureShows)
                {
                    Html.RenderPartial("Partials/_ShowArchiveCard", show);
                }
            </div>
        </div>
    }
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <p class="text-center">
                <a href="/all-shows">See all shows</a>
            </p>
        </div>
    </div>
</div>
