name: build

on:
  push:
    branches-ignore:
    - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Build
      run: dotnet build /p:RestorePackagesWithLockFile=true
    - name: Run
      run: dotnet run deploy
    - name: Node Install
      run: 'npm ci'
    - name: Lint Styles
      run: 'npx stylelint **/*.scss'
    - name: Lint HTML
      run: 'npx html-validate output/'
      continue-on-error: true
    - name: Cypress tests
      uses: cypress-io/github-action@v4
      with:
        start: 'npx serve -p 5080 output'
        wait-on: 'http://localhost:5080'
