name: build and publish

on:
  push:
    branches:
    - main
  schedule:
    - cron:  '30 0 * * *'

jobs:
  build:
    name: Build and publush
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Checkout file dates
      run: ./checkout-file-dates.sh
    - name: Cache tools
      uses: actions/cache@v2.1.4
      env:
        cache-name: cache-tools
      with:
        path: tools
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('tools/packages.config') }}-${{ hashFiles('Sedos.csproj') }}-${{ hashFiles('build.cake') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
    - name: Cache assets
      uses: actions/cache@v2.1.4
      env:
        cache-name: cache-assets
      with:
        path: theme/assets/lib
        key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('build.cake') }}
        restore-keys: |
          ${{ runner.os }}-build-${{ env.cache-name }}-
    - name: Build
      run: ./build.sh
    - name: Node Install
      run: 'npm ci'
    - name: Lint Styles
      run: 'npx stylelint **/*.scss'
    - name: Lint HTML
      run: 'npx html-validate output/'
      continue-on-error: true
    - name: Cypress tests
      uses: cypress-io/github-action@v2
      with:
        start: 'npx serve -p 5080 output'
        wait-on: 'http://localhost:5080'
    - name: Deploy
      uses: s0/git-publish-subdir-action@v2.4.0
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: output
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
