name: reviewdog

on: [pull_request]
jobs:
  misspell:
    name: runner / misspell
    runs-on: ubuntu-latest
    steps:
      - name: Check out code.
        uses: actions/checkout@v3
      - name: misspell
        uses: reviewdog/action-misspell@v1.13
        with:
          github_token: ${{ secrets.github_token }}
          reporter: github-pr-review
          locale: "UK"
          ignore: color,center
          exclude: "package-lock.json"
